# Arquivos compilados e cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual (não versione o ambiente virtual)
.venv/

# Pasta de downloads (se for gerada automaticamente e não for necessária no repositório)
downloads_sd/

# Distribuição e packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de testes e cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Arquivos e pastas de IDEs e editores
.idea/
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db