.container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
  margin: 1rem;
}

input, select {
  font-size: 1.2rem;
  padding: 5px;
}

button {
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 1rem;
}

p {
  margin: 10px 0;
}
